.footer
  .container.foot
    a(href='#')
      i.fa.fa-facebook.fa-3x.fa-fw
    a(href='#')
      i.fa.fa-twitter.fa-3x.fa-fw
    a(href='#')
      i.fa.fa-youtube-play.fa-3x.fa-fw
    a(href='#')
      i.fa.fa-rss.fa-3x.fa-fw
    a(href='#')
      i.fa.fa-linkedin.fa-3x.fa-fw

  p.footer_text 
    i.fa.fa-copyright(aria-hidden='true')  2018 The Hive
