doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Hive Chat
    block content
    footer Copyright The Hive 2018
